mixin timer
	.timer
			.flip-clock.flip-clock-m
				.digit.digit-left
					// ::before
					.card
						.card-face.card-face-front
						.card-face.card-face-back
					// ::after
				.digit.digit-right
					// ::before
					.card
						.card-face.card-face-front
						.card-face.card-face-back
					// ::after

			.flip-clock.flip-clock-s
				.digit.digit-left
					// ::before
					.card
						.card-face.card-face-front
						.card-face.card-face-back
					// ::after
				.digit.digit-right
					// ::before
					.card
						.card-face.card-face-front
						.card-face.card-face-back
					// ::after

	//-section.timer-wrapp 
	//-	+timer
