mixin horizScrollSection 
	section.horizontal-scroll
		.bamper 
		.horizontal-section
			.stikey-wrapper
				.horizontal__body
						.horizontal__start
							.horisontal__title
							.horizontal__content
								.horizontal__item
								.horizontal__item
								.horizontal__item
								.horizontal__item
						.horizontal__end
							.horizontal__content
								.horizontal__item
								.horizontal__item
								.horizontal__item
								.horizontal__item
							.horisontal__subtitle
		.bamper

+horizScrollSection