mixin reviews
	section.reviews
		.reviews__container.container
			.reviews__title.title 
				h2 Они уже сделали это
			.reviews__slider.swiper
				.reviews__wrapper.swiper-wrapper
					.reviews__slide.slide.swiper-slide
						.slide__body
							.slide__image
								img(src="../img/rw1.jpg", alt="review")
							.slide__content
								h3 -4,6 за 3,5 недели
								p Как же я счастлива, что и в Россию пришла нашумевшая, возродившаяся в Америке кето диета, которая многих спасла от ожирения. Этот план питания невероятно разнообразен, сбалансирован и рецепты нереально вкусные. Спасибо, ребята! 
								| Я хожу в магазин раз в неделю и покупаю все продукты. Результат недолго заставлял себя ждать! Планирую и дальше правильно питаться 
								| и подтянуть на этот индивидуальный план питания своих подруг! Оно того стоит.
								p.slide__author Мария, 24 года
					.reviews__slide.slide.swiper-slide
						.slide__body
							.slide__image
								img(src="../img/rw2.jpg", alt="review")
							.slide__content
								h3 -7 кг за 4 недели
								p После родов я испробовала так много разных диет 
								| и планов питания, что страшно вспомнить! 
								| Вес возвращался, преумножался и тем самым портилось здоровье. А этого кето плана так легко придерживаться! И результат то на лицо, за месяц 
								| я сбросила уже 7 килограмм и не планирую останавливаться! Улучшилось самочувствие 
								| и пришел прилив энергии. Хочу сказать точно, 
								| не бойтесь, садитесь на кето диету, ведь с таким подбором рецептов это и вкусно и полезно!
								p Ульяна, 32 года
					.reviews__slide.slide.swiper-slide
						.slide__body
							.slide__image
								img(src="../img/rw3.jpg", alt="review")
							.slide__content
								h3 -5,4 кг за 3 недели
								p Очень эффективная диета! Наконец-то нашла индивидуально разработанный план по кето диете, ведь данная система питания очень эффективна!
								| Самый быстрый, простой и вкусный способ сбросить лишние килограммы и полностью сменить гардероб! Я влезла в свои старые джинсы. Урааааа! 
								| Буду рекомендовать план питания подругам, друзьям и родственникам, чтобы закатывать кето ужины и семейные кето посиделки. Всем рекомендую!
								p Людмила, 35 лет
			.reviews__nav
				.swiper-button-prev
				.swiper-button-next


+reviews